span {
    color: black;
}

.draft-guide-player-container {
    display: flex;
    width: 100%;
    padding: 0% 5%;
    place-content: center;
}

.draft-guide-player-button {
    align-items: center;
    height: 100%;
    font-family: 'Roboto';
    background-color: #6CC5FE;
    transition: width 0.3s ease;
}

.button-open {
    width: 1000px;
    border: 4px solid black;
}

.button-close {
    width: 530px;
    border: 2px solid black;
}

.draft-guide-player-main-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5% 0%;
}

.draft-guide-player-rank {
    padding: 0px 5px;
}

.rank-text {
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px black;
}

.draft-guide-player-name span {
    font-weight: bold;
}

.draft-guide-player-name {
    margin-left: 5px; /* set the gap between rank and name */
}

.info-text, .player-name {
    font-size: 20px;
}

.player-name-long {
    font-size: 18px;
}

.draft-guide-player-size {
    display: flex;
    flex-direction: column;
    gap: 5px; /* set the gap between height and weight */
}

.draft-guide-box-separator {
    height: 2px;
    background-color: black;
    position: relative;
    right: 6px;
    transition: width 0.3s ease;
}

.box-width-close {
    width: 526px;
}

.box-width-open {
    width: 996px;
}

.general-stat-text {
    font-size: 16px;
    font-weight: bold;
}

.stat-label {
    font-size: 10px;
    font-weight: bold;
    margin-right: 7px;
}

.stat-label-large {
    font-size: 14px;
    font-weight: bold;
}

.draft-player-info-container {
    padding: 2%;
}

.stat-margin {
    margin-right: 7px;
}

.draft-guide-side-stats {
    margin-left: auto;
}

@media screen and (min-width: 1010px) {
    .draft-guide-mobile-stats {
        display: none;
    }

    .box-flex-display {
        display: flex;
    }
}

@media screen and (max-width: 1010px) {
    .box-width-close, .box-width-open, .button-open, .button-close {
        width: 90%;
    }

    .draft-guide-box-separator {
        width: 79vw;
    }

    .stat-label {
        font-size: 10px;
    }

    .draft-guide-side-stats {
        display: none;
    }
}

@media screen and (min-width: 691px) {
    .draft-text-mobile {
        display: none;
    }
}

@media screen and (max-width: 690px) {
    .draft-text-desktop {
        display: none;
    }

    .box-width-close, .box-width-open, .button-open, .button-close {
        width: 100%;
    }

    .draft-guide-player-container {
        padding: 0%;
    }

    .draft-guide-box-separator {
        width: 100vw;
        right: 12px;
    }

    .draft-guide-player-size {
        margin-left: auto;
    }

    .draft-player-info-container {
        padding: 2% 0%;
    }

    .stat-label {
        margin-right: 5px;
    }

    .info-text, .player-name {
        font-size: 18px;
    }

    .player-name-long {
        font-size: 16px;
    }

    .player-name-longer {
        font-size: 14px;
    }
  }