.blog-title-text {
    font-family: 'Roboto', sans-serif;
    font-size:  42px;
    font-weight:  bold;
}

.blog-title {
    padding-bottom: 8px;
}

.blog-page-container {
    width: 100%;
    text-align: center;
    padding: 0% 20%;
}

.blog-content {
    padding: 1% 0%;
}

.blog-content p {
    max-width: fit-content;
    text-align: left;
}

@media screen and (max-width: 1400px) {
    .blog-page-container {
        padding: 0% 15%;
    }
}

@media screen and (max-width: 1200px) {
    .blog-page-container {
        padding: 0% 10%;
    }
}

@media screen and (max-width: 768px) {
    .blog-page-container {
        padding: 0% 5%;
    }
}